body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #071C4D;
}


//Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071C4D;

      &.active {
        font-weight: bold;
        color: #071C4D !important;
      }
    }
  }
}

//Header
header {
  padding: 200px 0px 200px;
  margin-top: -70px;
  background-image: url('../images/header.jpg');
  background-size: cover;

  h1,
  p {
    color: #ffffff;
    font-size: 22px;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 60px;
  }
}

//Statistics
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

//Popular
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2, 
    p {
      color: #ffffff;
    }

    h2 {
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 50px;
    }

    p {
      font-size: 18px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #c9c9c9;
      color: #ffffff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
      border-radius: 15px;
    }

    .travel-country {
      font-size: 16px;
      color: #ffffff;
    }
    
    .travel-location {
      font-size: 24px;
      color: #ffffff;
    }

    .travel-price {
      border: #071C4D;
      border-radius: 10px;
      background-color: #071C4D;
      margin-top: 250px;
    }
  }
}

.section-networks {
  background-color: #ffffff;
  margin-top: -200px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}

.section-testimonial-heading {
  background: linear-gradient(#FFFFFF 0%, #f1f4ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-heading {
  margin-top: -10px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-top: 10px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonial {
      font-weight: 200;
      font-size: 22px;
      color: #6e6e6e;
      min-height: 160px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 20px;
      color: #6e6e6e;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.section-contact-us {
  background-color: #ffffff;
  margin-top: -200px;
  padding-top: 250px;

  h2 {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
  }

  iframe {
    border-radius: 15px;
  }

  h3 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

//Media
@media only screen and (max-width: 768px) {
  header {
    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
  }

  .section-stats {
    background-color: #FFFFFF;
  
    .stats-detail {
      padding-top: 15px;
      padding-left: 20px;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 0;
    }
  
    p {
      font-size: 12px;
      font-weight: lighter;
    }
  }

  .section-popular {
    .section-popular-heading {
      margin-top: 150px;
  
      h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 35px;
      }
  
      p {
        font-size: 14px;
      }
    }
  }

  .section-popular-content {
    .section-popular-travel {
      .travel-country {
        font-size: 14px;
        color: #ffffff;
      }
      
      .travel-location {
        font-size: 22px;
        color: #ffffff;
      }
    }
  }

  .section-networks {
    h2 {
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 35px;
    }
  
    p {
      font-size: 14px;
    }
  }

  .section-testimonial-heading {
    h2 {
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 35px;
    }
  
    p {
      font-size: 14px;
    }
  }

  .section-testimonial-content {
    .card-testimonial {
      h3 {
        font-size: 20px;
      }
  
      .testimonial {
        font-weight: 200;
        font-size: 18px;
      }
  
      .trip-to {
        font-weight: normal;
        font-size: 18px;
      }
    }
  }

  .section-footer {
    h5 {
      font-weight: 500;
      font-size: 18px;
    }
  
    li {
      font-weight: 400;
      font-size: 14px;
    }
  
    a {
      color: #071C4D;
    }

    .footer-copyright {
      font-weight: 400;
      font-size: 12px;
    }
  }

  .section-contact-us {
    .maps {
      max-width: 360px;
      max-height: 360px;
    }
  }
}